<div class="main">
    <div class="toolbar" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-toolbar>
            <span>IS</span>
            <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-icon-button>
                    <mat-icon matTooltip="Home">home</mat-icon>
                </button>
                <button mat-icon-button style="margin-left: 1cm;">
                    <mat-icon matTooltip="About"> person </mat-icon>
                </button>
                <button mat-icon-button style="margin-left: 1cm;">
                    <mat-icon matTooltip="Skills&Experience"> calendar_today </mat-icon>
                </button>
                <button mat-icon-button style="margin-left: 1cm;">
                    <mat-icon matTooltip="Resume"> list_alt </mat-icon>
                </button>
                <button mat-icon-button style="margin-left: 1cm;">
                    <mat-icon matTooltip="My work"> card_travel </mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </div>
</div>