.toolbar span {
    text-size-adjust: 2cm;
}

.buttons {
    padding-left: 10cm;
}

.main {
    height: 100%;
    width: 100%;
    background-color: lightcoral;
}

.socail-buttons {
    padding-left: 3cm;
}

.json-data {
    text-decoration: solid;
    text-align: center;
    text-shadow: 1.5mm;
    text-overflow: unset;
}